*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
height:100vh;
background:#313338;
color:white;
}

.app{
display:flex;
height:100%;
}

.sidebar{
width:250px;
background:#1e1f22;
padding:20px;
}

.sidebar h2{
margin-bottom:30px;
}

.users h3{
margin-bottom:15px;
color:#aaa;
}

.user{
padding:10px;
border-radius:8px;
background:#2b2d31;
margin-bottom:10px;
}

.chat{
flex:1;
display:flex;
flex-direction:column;
}

.header{
padding:20px;
background:#1e1f22;
font-size:22px;
font-weight:bold;
}

.messages{
flex:1;
padding:20px;
overflow-y:auto;
}

.message{
background:#404249;
padding:12px;
border-radius:10px;
margin-bottom:12px;
max-width:500px;
}

.name{
display:block;
font-weight:bold;
margin-bottom:5px;
color:#57F287;
}

.me{
background:#5865F2;
margin-left:auto;
}

.input-area{
display:flex;
padding:15px;
background:#1e1f22;
}

input{
flex:1;
padding:12px;
border:none;
outline:none;
background:#404249;
color:white;
border-radius:8px;
}

button{
margin-left:10px;
padding:12px 20px;
border:none;
border-radius:8px;
background:#5865F2;
color:white;
cursor:pointer;
font-weight:bold;
}

button:hover{
background:#4752c4;
}